
<!-- backdrop={movie.backdrop_path} -->
<ng-container *ngIf="movie">
<div class="detail"
[ngStyle]="{'background-image': 'url('+backdrop+')'}"> 
    <div class="detail-content" >
      <img 
       class="detail-poster"
       src = "{{poster}}"
       
       />
       <div class="detail-text">
           <h1>{{movie.title}}</h1>
           <h2 class="plot">Plot:</h2>
           <p class="overview">{{movie.overview}}</p>

            <div className='rating-directors-cast'>
              
                <div  className='cast'>
                    <h3>Genres</h3>
                    <span *ngFor="let genre of movie.genres">{{genre.name}} </span>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-container>