
<!-- backdrop={movie.backdrop_path} -->
<ng-container *ngIf="movie">
<div class="detail"
[ngStyle]="{'background-image': 'url('+backdrop+')'}"> 
    <div class="detail-content" >
      <img 
       class="detail-poster"
       src = "{{poster}}"
       
       />
       <div class="detail-text">
           <h1>{{movie.title}}</h1>
           <h2 class="plot">Plot:</h2>
           <p class="overview">{{movie.overview}}</p>

            <div className='rating-directors-cast'>
                <!-- <div class = 'rating'>
                    <h3>RATING:</h3>
                    <span className='score'>12</span>
                </div>
                <div className='director'>
                    <h3>DIRECTORmovie.directors.length > 1 ? 'S' : ''}</h3>
                   {movie.directors.map(director => (
                        <p key={director.credit_id}>{director.name}</p>
                    ))} 
                </div> -->
                <div  className='cast'>
                    <h3>Genres</h3>
                    <span *ngFor="let genre of movie.genres">{{genre.name}} </span>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-container>