<div class="about">
    <h1 class="about-title">Sic Mundus Creatus Est</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
       Dignissimos corrupti nesciunt sit, perspiciatis soluta cum quisquam numquam non eligendi.
       Dolorem deleniti aut autem blanditiis, tempora aliquam sapiente numquam rem est?
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eaque enim praesentium nostrum rem labore adipisci facere, saepe quaerat consectetur quis eveniet ullam molestiae delectus quasi tempora illum, expedita nesciunt?
       Fugiat nulla facilis omnis expedita sapiente vel illo molestiae. Expedita quam doloribus odio, qui dolorem enim aliquam aut velit eum at necessitatibus. Quidem accusantium repudiandae voluptatum repellat cum quas hic.
       Reiciendis suscipit ad vitae sed id quaerat sapiente eos cupiditate illo dolorum! Labore dolores perspiciatis corrupti facilis omnis asperiores sequi, ad nostrum optio corporis quam ipsam accusamus hic, modi dignissimos?
       Doloribus earum vero enim maxime impedit eveniet et! Sed, laboriosam! Dolore suscipit culpa facere itaque accusantium, laborum tenetur quae magni illum distinctio, aspernatur reprehenderit, repellat at? Sint soluta doloremque asperiores.
       Magni explicabo, voluptates eius quasi, quas commodi perferendis repellendus corporis voluptate distinctio aperiam fuga eligendi? Ipsa quisquam laboriosam distinctio provident optio laborum. Eos iusto animi quidem debitis quaerat perspiciatis fugit.


    </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Dignissimos corrupti nesciunt sit, perspiciatis soluta cum quisquam numquam non eligendi.
        Dolorem deleniti aut autem blanditiis, tempora aliquam sapiente numquam rem est?
     </p>
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Dignissimos corrupti nesciunt sit, perspiciatis soluta cum quisquam numquam non eligendi.
        Dolorem deleniti aut autem blanditiis, tempora aliquam sapiente numquam rem est?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate excepturi, rerum reiciendis dolore soluta obcaecati praesentium reprehenderit. Odio velit omnis tempora itaque quod? Dolore corporis tempore, quaerat nam ut eos.
     </p>

</div>
