<div class="search-container">
    <div class="search-wrapper">
    <form class="search-form"  [formGroup]="form"  (ngSubmit)="onSubmit()"  > 
        <!-- reactive form -->
        <span class="search-logo"  routerLink="/">   <a class="navi-link" routerLink="">AngMDB</a></span>
        <input 
        class="search-input"
        formControlName="input"
        placeholder="Search, from 2 or more characters"
        />
        <button type="submit" class="search-button" [disabled]="form.invalid">Search</button>
        <!-- <div *ngIf="form.get('input').invalid">  </div> -->
    </form>
    <div class="starError" *ngIf="form.get('input').errors?.NoStarWars">No Star Wars</div>
    <nav class="navi">
        <a class="navi-link" routerLink="">Home</a>
        <a class="navi-link" routerLink="/about">About</a>
        
    </nav>
  </div>
</div> 
  