
 <div class="filters">
    <mat-form-field appearance="fill"
    style=" background-color: rgb(173, 168, 168);"
    >
      <mat-label style=" color: rgb(248, 245, 245); font-size: 15px; font-weight:600 ;">Sort</mat-label>
      <mat-select 
        panelClass="sort-select"
        [(ngModel)]="sort"
        (selectionChange)="searchGames(sort)"
      >
        <mat-option value="revenue.desc">Revenue</mat-option>
        <mat-option value="release_date.desc">Newest</mat-option>
        <mat-option value="vote_count.desc">Highest rated</mat-option>
        <mat-option value="popularity.desc">Popular</mat-option>
      </mat-select>
    </mat-form-field>
  </div> 

  <div class="movies-wrapper">
    <ng-container *ngFor="let movie of movies">
    <div class="movie" (click)=openGameDetails(movie.id)>
      <div class="movie-poster">
        <img 
        *ngIf="movie.poster_path"                       
        src="{{basePoster + movie.poster_path }}"     
         alt="poster" >
         <img 
        *ngIf="!movie.poster_path"
         src="../../../assets/images/no_image.jpg"  
         alt="poster" >
      </div>
      <div class="movie-name">
        {{movie.title}}
      </div>
      <div class="movie-relase">
        <!-- date pipe -->
        {{ movie.release_date |  date: 'dd MMM. yyyy'}}              
      </div>
    </div>
  </ng-container>
   


  </div>
  
