.filters {
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 20px;
  }
  .result{
    text-align: center;
    color: #0177D2;
    font-size: 18px;
    font-weight: 600;
  }

     
  
  
    