
 <div class="filters">
    <mat-form-field appearance="fill"
    style=" background-color: rgb(173, 168, 168);"
    >
      <mat-label style=" color: rgb(248, 245, 245); font-size: 15px; font-weight:600 ;">Sort</mat-label>
      <mat-select 
        panelClass="sort-select"
        [(ngModel)]="sort"
       
      >
        <mat-option value="name">in theatres</mat-option>
        <mat-option value="popularity.desc">most popular</mat-option>
        <mat-option value="-added">highest rated</mat-option>
      
      </mat-select>
    </mat-form-field>
  </div> 

  <div class="movies-wrapper">

    <div class="movie">
      <div class="movie-poster">
        <img src="http://image.tmdb.org/t/p/w780/xmbU4JTUm8rsdtn7Y3Fcm30GpeT.jpg " alt="poster" >
      </div>
      <div class="movie-name">
        Free gay
      </div>
      <div class="movie-relase">
        Sep 28, 2018
      </div>
    </div>

    
    <div class="movie">
      <div class="movie-poster">
        <img src="http://image.tmdb.org/t/p/w780/xmbU4JTUm8rsdtn7Y3Fcm30GpeT.jpg " alt="poster" >
      </div>
      <div class="movie-name">
        Free gay
      </div>
      <div class="movie-relase">
        Sep 28, 2018
      </div>
    </div>

    <div class="movie">
      <div class="movie-poster">
        <img src="http://image.tmdb.org/t/p/w780/xmbU4JTUm8rsdtn7Y3Fcm30GpeT.jpg " alt="poster" >
      </div>
      <div class="movie-name">
        Free gay
      </div>
      <div class="movie-relase">
        Sep 28, 2018
      </div>
    </div>


    <div class="movie">
      <div class="movie-poster">
        <img src="http://image.tmdb.org/t/p/w780/xmbU4JTUm8rsdtn7Y3Fcm30GpeT.jpg " alt="poster" >
      </div>
      <div class="movie-name">
        Free gay
      </div>
      <div class="movie-relase">
        Sep 28, 2018
      </div>
    </div>


    <div class="movie">
      <div class="movie-poster">
        <img src="http://image.tmdb.org/t/p/w780/xmbU4JTUm8rsdtn7Y3Fcm30GpeT.jpg " alt="poster" >
      </div>
      <div class="movie-name">
        Free gay
      </div>
      <div class="movie-relase">
        Sep 28, 2018
      </div>
    </div>


    <div class="movie">
      <div class="movie-poster">
        <img src="http://image.tmdb.org/t/p/w780/xmbU4JTUm8rsdtn7Y3Fcm30GpeT.jpg " alt="poster" >
      </div>
      <div class="movie-name">
        Free gay
      </div>
      <div class="movie-relase">
        Sep 28, 2018
      </div>
    </div>


    <div class="movie">
      <div class="movie-poster">
        <img src="http://image.tmdb.org/t/p/w780/xmbU4JTUm8rsdtn7Y3Fcm30GpeT.jpg " alt="poster" >
      </div>
      <div class="movie-name">
        Free gay
      </div>
      <div class="movie-relase">
        Sep 28, 2018
      </div>
    </div>


    <div class="movie">
      <div class="movie-poster">
        <img src="http://image.tmdb.org/t/p/w780/xmbU4JTUm8rsdtn7Y3Fcm30GpeT.jpg " alt="poster" >
      </div>
      <div class="movie-name">
        Free gay
      </div>
      <div class="movie-relase">
        Sep 28, 2018
      </div>
    </div>


    <div class="movie">
      <div class="movie-poster">
        <img src="http://image.tmdb.org/t/p/w780/xmbU4JTUm8rsdtn7Y3Fcm30GpeT.jpg " alt="poster" >
      </div>
      <div class="movie-name">
        Free gay
      </div>
      <div class="movie-relase">
        Sep 28, 2018
      </div>
    </div>


    <div class="movie">
      <div class="movie-poster">
        <img src="http://image.tmdb.org/t/p/w780/xmbU4JTUm8rsdtn7Y3Fcm30GpeT.jpg " alt="poster" >
      </div>
      <div class="movie-name">
        Free gay
      </div>
      <div class="movie-relase">
        Sep 28, 2018
      </div>
    </div>


    <div class="movie">
      <div class="movie-poster">
        <img src="http://image.tmdb.org/t/p/w780/xmbU4JTUm8rsdtn7Y3Fcm30GpeT.jpg " alt="poster" >
      </div>
      <div class="movie-name">
        Free gay
      </div>
      <div class="movie-relase">
        Sep 28, 2018
      </div>
    </div>


    <div class="movie">
      <div class="movie-poster">
        <img src="http://image.tmdb.org/t/p/w780/xmbU4JTUm8rsdtn7Y3Fcm30GpeT.jpg " alt="poster" >
      </div>
      <div class="movie-name">
        Free gay
      </div>
      <div class="movie-relase">
        Sep 28, 2018
      </div>
    </div>

  </div>